@import '/assets/style/reset.css';
@import '../style/font.css';
/*
font-family: 'HelveticaNeueCyr-Medium';
font-family: 'HelveticaNeueCyr-Bold';
font-family: 'HelveticaNeueCyr-Roman';
font-family: 'HelveticaNeueCyr-Heavy';
font-family: 'HelveticaNeueCyr-Light';
*/
body {
    font-family: 'HelveticaNeueCyr-Medium';
    color: #fff;
    font-size: 14px;
}
.container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 15px;
}


/*Header*/


.header {
    background-image: url(../images/bg/backgraund.jpg);
    height: 900px;
    padding: 25px 0 100px 0;
    background-repeat: no-repeat;
    width: 100%;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header__contacts a {
    color: #fff;
}

.header__mail {
    margin-right: 25px;
    text-decoration: none;
}
.header__mail:hover {
    text-decoration: underline;
}
.header__iphone {
    margin-left: 25px;
    text-decoration: none;
}
.header__iphone:hover  {
    text-decoration: underline;
}
.header__registr {
    padding: 5px 10px;
    background-color: #0e45ac;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    margin-right: 15px;
}
.header__registr:hover {
    background-color: #0e2a5e;
    transition: .2s linear;
}
.header__sign {
    padding: 5px 10px;
    background-color: #365080;
    border: 1px solid #000;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}
.header__sign:hover {
    background-color: #0e2a5e;
    transition: .2s linear;
}
.header__sign {
    padding: 5px 10px;
}
.header__info {
    padding: 120px 0 100px 0;
    max-width: 636px;
}
.header__info h1 {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 60px;
    font-weight: 300;
    max-width: 636px;
    line-height: 84px;
    margin-bottom: 30px;
}
.header__info p {
    max-width: 416px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 50px;
}
.header__info p::after {
    content: "";
    display: block;
    height: 100%;
    border-left: 3px solid;
    position: absolute;
    left: 0;
    top: 0;
}
.header__info a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'HelveticaNeueCyr-Bold';
    text-decoration: none;
    padding: 15px 30px;
    background-color: #BD0007;
    border: 3px solid #BD0007;
}
.header__info a:hover {
    background-color: #840409;
    transition: .2s linear;
}

/*Nav*/


.nav__list {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
}
.nav__item {
    padding: 25px 0;
}
.nav__link {
    font-family: 'HelveticaNeueCyr-Bold';
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
   
}
.nav__link:hover {
    text-decoration: underline;
}